aiohttp>=
aiosignal>=
async-timeout>=
attrs>=
cachetools>=
certifi>=
charset-normalizer>=
click>=
colorama>=
comtypes>=
frozenlist>=
google-api-core>=
google-auth>=
google-cloud-speech>=
googleapis-common-protos>=
grpcio>=
grpcio-status>=
gTTS>=
idna>=
keyboard>=
multidict>=
numpy>=
openai>=
opencv-python>=
proto-plus>=
protobuf>=
pyasn1>=
pyasn1-modules>=
PyAudio>=
requests>=
rsa>=
six>=
SpeechRecognition>=
tqdm>=
urllib3>=
yarl>=
gunicorn>=
